<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="a happy costumer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facilis
        ullam minus a distinctio doloribus. Ab at est doloremque voluptatem!
      </p>
      <footer>
        <div class="media">
          <svg class="icon icon--white quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__company">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
